<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
		
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.username">system</property>
        <property name="hibernate.connection.password">oracle</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521/orcl</property>
        <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        
		<mapping class="com.hmei.hibernate.entity.Product"></mapping>
		<mapping class="com.hmei.hibernate.entity.Book"></mapping>
		<mapping class="com.hmei.hibernate.entity.Author"></mapping>
		<mapping class="com.hmei.hibernate.entity.Computer"></mapping>
		<mapping class="com.hmei.hibernate.entity.Toy"></mapping>
		<mapping class="com.hmei.hibernate.entity.Grocery"></mapping>
    </session-factory>
</hibernate-configuration>
